.row {
  height: 20rem;
}
.image-box {
  align-items: center;
  display: flex;
  width: 14rem;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 600;
  gap: 20px;
}

.image-thumbnail {
  width: 60%;
  height: 37%;
  object-fit: fill;
}

.weather-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.wheather-box__footer {
  margin-top: 4%;
  display: flex;
  align-items: center;
}
.wheather-box__footer > div + div {
  border-left: 1px solid gray;
}

.footer-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.footer-card > div:nth-child(1) {
  font-weight: 600;
  font-size: 1.3rem;
}

.unit-box {
  display: flex;
}
